<div class="navbar navbar-default navbar-fixed-top"
     role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"
               ui-sref="home"><i class="fa fa-glass"></i> Campers
            </a>
        </div>
        <div class="collapse navbar-collapse"
             id="js-navbar-collapse">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active">
                    <a ui-sref="home">Home</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="about">About</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li uib-dropdown>
                    <a href="#"
                       uib-dropdown-toggle>Account
                        <span class="caret"></span>
                    </a>
                    <ul uib-dropdown-menu
                        aria-labelledby="simple-dropdown">
                        <li>
                            <a href="#"><i class="fa fa-cog"></i> Settings</a>
                        </li>
                        <li role="separator"
                            class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-sign-out"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>