<topbar></topbar>
<div class="container">
    <ui-view></ui-view>
</div>
<footer>
    <div class="container">
        <div class="row "><i class="fa fa-github"></i> created by
            <a href="http://rafaelochoa.com"
               target="_blank">@rafaelochoa
            </a>
        </div>
    </div>
</footer>

