<div>
    <h1>About</h1>
    <blockquote>
        <strong>Campers:</strong>
        <p class="lead">
            Customers that hang out at a table all night long and even turning off all the lights doesn’t get rid of
            them at closing time. </p>
    </blockquote>
</div>
<div class="well">
    <h3>Concept</h3>
    <ul>
        <li>A reservation must have:
            <ul>
                <li> Date and time.</li>
                <li> The party’s name and the number of people in the party.
                </li>
            </ul>
        </li>
        <li>The host must be able to:
            <ul>
                <li>Add reservations.</li>
                <li>Cancel reservations</li>
                <li>Mark a reservation as fulfilled</li>
            </ul>
    </ul>
    <h3>Considerations</h3>
    <ul>
        <li>The User is logged in.</li>
        <li>One party at the time.</li>
        <li>Reservations are every hour. Accepted between 1:00 pm - 8:00 pm.</li>
        <li>Future version will include:
            <ul>
                <li>Possibility to filter is possible by party's name and phone on a specific date.</li>
                <li>User's Reservations.</li>
                <li>History of Reservations.
                <li>Special requests description.</li>
            </ul>
        </li>
    </ul>
    <hr>
    <div class="row">
        <div class="pull-left">
            <a class="btn btn-info"
               href="https://github.com/rafael-ochoa/campers/wiki"
               target="_blank">More Info <i class="fa fa-external-link"></i>
            </a>
        </div>
        <div class="pull-right">
            <strong>License</strong> MIT ©
            <a href="https://rafaelochoa.com"
               rel="nofollow"
               target="_blank"
               title="@rafaelochoa"
               class="mention mention-me">Rafael Ochoa
            </a>
        </div>
    </div>
</div>
